<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1,228},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{530,1},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{757,1},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{984,1},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1211,1},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{228,303},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{530,303},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{832,303},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1,530},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{303,530},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1,757},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{530,530},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{757,605},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1059,303},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1059,605},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{228,832},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{530,832},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{832,832},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1059,907},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1286,303},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1286,605},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1361,832},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1,1059},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{303,1059},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{605,1059},{300,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{832,1134},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,225}</string>
                <key>spriteSourceSize</key>
                <string>{300,225}</string>
                <key>textureRect</key>
                <string>{{1134,1134},{300,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>click_atlas.png</string>
            <key>size</key>
            <string>{1587,1360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aa79d5b395a52c23dd9303ea986d4ee:46fc73d1667bd8fd3a983155dec833e9:e9a841f858e4ea388f7c45277d53bb67$</string>
            <key>textureFileName</key>
            <string>click_atlas.png</string>
        </dict>
    </dict>
</plist>
