<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kai_231_destroy_light_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_231_destroy_light_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{39,0},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_231_destroy_light_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{0,54},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_231_destroy_light_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{0,129},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_231_destroy_light_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{0,209},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai_231_destroy_light_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,87}</string>
                <key>spriteSourceSize</key>
                <string>{85,87}</string>
                <key>textureRect</key>
                <string>{{0,291},{85,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crush_atlas.png</string>
            <key>size</key>
            <string>{93,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c50a755c242dcb87d09a213c4cbffbee:4669bbf2232a4c04fe1853856218e523:2129659acb93445568f81d9c7085bffa$</string>
            <key>textureFileName</key>
            <string>crush_atlas.png</string>
        </dict>
    </dict>
</plist>
