<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{133,1},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,181},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{77,181},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_bubble_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,41}</string>
                <key>textureRect</key>
                <string>{{147,161},{72,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat_bubble_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,41}</string>
                <key>textureRect</key>
                <string>{{190,161},{72,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,178}</string>
                <key>spriteSourceSize</key>
                <string>{130,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{133,83},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat_atlas.png</string>
            <key>size</key>
            <string>{232,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a7ec3d12d8b99a06dc488f2354e7cac:0899b425c01d305eb066aa01ac503868:560f0423db1a1e46e68995a55a406f35$</string>
            <key>textureFileName</key>
            <string>chat_atlas.png</string>
        </dict>
    </dict>
</plist>
