<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,103}</string>
                <key>spriteSourceSize</key>
                <string>{122,103}</string>
                <key>textureRect</key>
                <string>{{339,150},{122,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnimage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,99}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{159,156},{86,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c1_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,21}</string>
                <key>spriteSourceSize</key>
                <string>{93,21}</string>
                <key>textureRect</key>
                <string>{{64,181},{93,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_shandian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{147,121}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{284,1},{147,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{573,132},{123,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico_shijie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,153}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{133,1},{149,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_tianfu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{125,129}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{532,1},{125,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_zhuangbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,139}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{407,1},{123,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_xiantiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,112}</string>
                <key>spriteSourceSize</key>
                <string>{4,112}</string>
                <key>textureRect</key>
                <string>{{1,244},{4,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,178}</string>
                <key>spriteSourceSize</key>
                <string>{130,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>k1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{463,142},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{247,156},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s9g_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{1,181},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_atlas.png</string>
            <key>size</key>
            <string>{699,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:432d8140f44311bae294271622686516:efe3402cd12c9e0350ade291bc69abcc:a814a48dc58862b1320bea6e49a2a415$</string>
            <key>textureFileName</key>
            <string>home_atlas.png</string>
        </dict>
    </dict>
</plist>
