<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huawen1_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,59}</string>
                <key>spriteSourceSize</key>
                <string>{85,59}</string>
                <key>textureRect</key>
                <string>{{1,162},{85,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huawen2_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{1,101},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading.png.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,16}</string>
                <key>spriteSourceSize</key>
                <string>{4,16}</string>
                <key>textureRect</key>
                <string>{{91,101},{4,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,101}</string>
                <key>spriteSourceSize</key>
                <string>{98,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading_atlas.png</string>
            <key>size</key>
            <string>{103,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:110de1e77b89af7207f18b102fcf3621:3f2e64b79f9828fc3a84637da6f94e35:6527943677b6592b370a9b81a87e3ee9$</string>
            <key>textureFileName</key>
            <string>loading_atlas.png</string>
        </dict>
    </dict>
</plist>
